mixin card(size)
  .card(class= size)
    .card-main
      p.card-main-title Клиентская рассылка Get4Click
      p.card-main-text Ежедневно база рассылки Get4Click пополняется умными покупателями, которые следят за акциями и скидками. Они готовы приступить к покупкам прямо сейчас. Мы можем рассказать им о вас в 2-х форматах: дайджест скидок (3-5 партнеров в рассылке) или создать индивидуальную брендированную рассылку с вашими предложениями
    a(href='/') Заказать рассылку

mixin card-big-text(size)
  .card(class= size)
    .card-main
      p.card-main-title Клиентская рассылка Get4Click
      p.card-main-text Ежедневно база рассылки Get4Click Ежедневно база рассылки Get4Click Ежедневно база рассылки Get4Click Ежедневно база рассылки Get4Click Ежедневно база рассылки Get4Click Ежедневно база рассылки Get4Click Ежедневно база рассылки Get4Click пополняется умными покупателями, которые следят за акциями и скидками. Они готовы приступить к покупкам прямо сейчас. Мы можем рассказать им о вас в 2-х форматах: дайджест скидок (3-5 партнеров в рассылке) или создать индивидуальную брендированную рассылку с вашими предложениями
    a(href='/') Заказать рассылку

mixin card-big-title(size)
  .card(class= size ? size : "card-s")
    .card-main
      p.card-main-title Клиентская рассылка Get4Click Клиентская рассылка Get4Click Клиентская рассылка Get4Click
      p.card-main-text Ежедневно база рассылки Get4Click пополняется умными покупателями, которые следят за акциями и скидками. Они готовы приступить к покупкам прямо сейчас. Мы можем рассказать им о вас в 2-х форматах: дайджест скидок (3-5 партнеров в рассылке) или создать индивидуальную брендированную рассылку с вашими предложениями
    a(href='/') Заказать рассылку
